.addFamilyMemberButton {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  margin-left: 0;
  color: hsla(196, 51%, 61%, 0.5);
  background-color: white;
}

.addFamilyMember {
  color: white;
}

.addMemberSubmitButton {
  color: white;
}
