.addFamilyMemberButton {
  border-radius: 5px;
  color: white;
  background-color: hsla(207, 100%, 21%, 0.5);
}

.addFamilyMember {
  color: white;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      margin: 0.5em;
    }
  }
}

.addMemberSubmitButton {
  color: hsla(207, 100%, 21%, 1);
  background-color: white;
}
