.newChildInput {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.submitNewChild {
  display: flex;
  justify-content: center;

  button {
    background-color: hsla(207, 100%, 21%, 0.5);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.activeChildTable {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.activeChildName {
  width: 80vw;
  color: white;
  background-color: hsla(196, 51%, 61%, 0.5);
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  font-family: 'Pangolin', cursive;
}

.removeSelectedChild {
  text-align: center;
  color: white;
}
