
.childHeader {
  text-align: center;
}

.credits {
  display: flex;
  position: absolute;
  top: 10;
  right: 10;
}

.choreListHeader {
  text-align: center;
}

.choresRemaining {
  text-align: center;
}

.choreList {
  display: flex;
  justify-content: center;
  text-align: center;

  td {
    border: 2px solid black;
  }
}

.chore {
  width: 75vw;
  text-align: left;
}
