@import url('https://fonts.googleapis.com/css?family=Pangolin');

.childHeader {
  text-align: center;
  color: white;
}

.credits {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.choreListHeader {
  text-align: center;
  color: white;
}

.choresRemaining {
  text-align: center;
  color: white;
}

.choreList {
  display: flex;
  justify-content: center;
  text-align: center;
}

.chore {
  width: 75vw;
  color: white;
  background-color: hsla(196, 51%, 61%, 0.5);
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  font-family: 'Pangolin', cursive;
}

.choreValue {
  font-family: 'Pangolin', cursive;
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-shadow:
    -1px -1px 0 hsla(196, 51%, 61%, 1),
    1px -1px 0 hsla(196, 51%, 61%, 1),
    -1px 1px 0 hsla(196, 51%, 61%, 1),
    1px 1px 0 hsla(196, 51%, 61%, 1);
}
