.childName {
  padding-right: 20px;
  font-family: 'Pangolin', cursive;
}

.submitCompletedChores {
  text-align: center;
  margin-top: 50px;
}

.submitCompletedChoresButton {
  color: hsla(196, 51%, 61%, 0.5);
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
}
