.deliveryHeader {
  text-align: center;
}

.home {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.train {
  display: block;
  margin: auto;
  height: 50vw;
  width: 80vw;
  padding-top: 20vw;
}

.deliver {
  display: block;
  margin: auto;
  margin-top: 20vh;
}
