.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparentize(black, 0.33);
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    background-color: hsla(196, 51%, 61%, 0.7);
    box-shadow: 0 0 10em transparentize(black, 0.33);
    min-width: 200px;
    border-radius: 5px;
  }

  header {
    text-align: right;
    padding: 0.5em;

    button {
      font-size: 15px;
      line-height: 0;
      background-color: transparent;
      padding: 0;
      border: none;
      color: white;

      &:focus,
      &:hover {
        outline: none;
        color: navy;
      }

      &:active {
        color: white;
      }
    }
  }

  .content {
    padding: 0 1em 1em;
  }

  h3 {
    margin-top: 0;
  }
}
