@import 'utility';
//@import 'backgroundImage' from '..Images/IMG_1924.JPG';

$base-text-size: 16px;
$base-font-family: 'Pangolin', sans-serif;

html {
  text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-color: lightblue;
  background-image: url('../images/trainBG.png');
}

body,
#root,
.layout {
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  footer {
    padding: 1em;
  }
}

ul {
  padding-left: 0;
  list-style: none;
}

table {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DK Crayon Crumble';
  text-align: center;
}

button {
  font-family: $base-font-family;
  border: none;
  padding: 10px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.66s);

  &:focus,
  &:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.66s);
    outline: none;
  }

  &:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.66s);
  }
}

input {
  color: hsla(207, 100%, 21%, 1);
  font-family: $base-font-family;
  font-size: 2em;
  padding: 10px;
  border: thick solid lightblue;
  border-radius: 4px;
}

@import 'home';
@import 'parentScreen';
@import 'childScreen';
@import 'delivery';
@import 'bank';
@import 'logIn';
@import 'choreList';
@import 'addRemove';
@import 'group';
@import 'homeButton';
@import 'family';
@import 'modal';
@import 'sessionButton';
@import 'addFamilyMemberButton';
@import 'splash';
