@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  height: 100vh;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(hsla(39, 100%, 50%, 1), hsla(177, 100%, 50%, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(hsla(39, 100%, 50%, 1), hsla(177, 100%, 50%, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(hsla(39, 100%, 50%, 1), hsla(177, 100%, 50%, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(hsla(39, 100%, 50%, 1), hsla(177, 100%, 50%, 1)); /* Standard syntax */
}

#root {
  width: 100%;
}

@import 'home';
@import 'parentScreen';
@import 'childScreen';
@import 'delivery';
@import 'bank';
@import 'logIn';
@import 'choreList';
@import 'addRemove';
@import 'group';
@import 'homeButton';
