@import 'utility';
//@import 'backgroundImage' from '..Images/IMG_1924.JPG';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  height: 100vh;
  //background-color: lightblue;
  background-image: url('/src/images/trainBG.png');
}

#root {
  width: 100%;
}

@import 'home';
@import 'parentScreen';
@import 'childScreen';
@import 'delivery';
@import 'bank';
@import 'logIn';
@import 'choreList';
@import 'addRemove';
@import 'group';
@import 'homeButton';
